.back-card {
  border-radius: 10px;
}

.flex-deck {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.game-btn {
  font-size: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-color: red;

}